@import url("https://fonts.googleapis.com/css2?family=Baloo+2&display=swap");
* {
  margin: 0px;
  padding: 0px;
  text-decoration: none;
  list-style: none;
  font-family: 'Baloo 2', cursive; }

html {
  height: fit-content;
  font-size: 10px; }

body {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  overflow-anchor: none;
  font-size: 10px; }

.no_selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none; }

form {
  margin: 2rem 0rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center; }
  form p {
    color: #fff;
    text-align: center;
    font-weight: bold;
    font-size: 2rem; }
  form label {
    color: #fff;
    padding: 1rem;
    font-size: 1.5rem;
    display: block;
    text-align: center; }
  form input {
    text-align: center; }

.body {
  background: #111;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  justify-content: center;
  align-items: center; }
  .body .nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    width: 800px;
    background: #2c2c2c;
    padding: 2rem;
    margin: 1rem;
    border-radius: 5px;
    box-shadow: #19f0c1 0px 0px 15px, #fff 0px 0px 5px; }
    .body .nav .nav__title {
      color: #fff;
      font-size: 3rem;
      padding: 2rem;
      text-shadow: #111 2px 2px 2px;
      text-align: center; }
    .body .nav .nav__subtitle {
      color: #fff;
      font-size: 2rem;
      text-align: center;
      margin: 1rem; }
    .body .nav .nav__links {
      color: #fff;
      text-align: center;
      list-style: none;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      padding: 1rem; }
      .body .nav .nav__links li {
        margin: 2rem 0.5rem; }
    .body .nav .nav__link {
      color: #fff;
      background: #111;
      padding: 1rem;
      font-size: 1.5rem;
      text-align: center;
      transition: background 0.2s, box-shadow 0.5s;
      margin: 1rem; }
      .body .nav .nav__link:hover {
        background: #19f0c1;
        color: #111;
        box-shadow: #19f0c1 0px 0px 15px, #fff 0px 0px 5px; }
  .body .text {
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    color: #fff;
    text-decoration: none;
    background: #2c2c2c;
    padding: 0.5rem; }
  .body .text--red {
    color: red; }
  .body .text--green {
    color: greenyellow; }

@media (max-width: 500px) {
  .body .nav {
    max-width: 100%;
    width: fit-content;
    padding: 0.2rem; } }

.producto-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center; }
  .producto-container .producto {
    border-radius: 2.5rem;
    padding: 1rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 15rem;
    margin: 0.5rem;
    background: white; }
    .producto-container .producto .producto__img {
      height: 4rem; }
    .producto-container .producto .producto__title {
      margin-top: 1rem;
      color: black;
      font-weight: bold;
      text-align: center;
      font-size: 1.5rem; }
    .producto-container .producto .producto__subtitle {
      color: black;
      text-align: center;
      font-size: 1.5rem; }
    .producto-container .producto .precio::before {
      content: "$"; }

.item {
  display: grid;
  grid-template-areas: "img title price" " img subtitle subtitle";
  padding: 0.2rem;
  background: white;
  margin: 0.2rem;
  grid-template-rows: 3rem 3rem;
  max-width: 35rem;
  width: 28rem;
  grid-template-rows: 2rem 3rem; }
  .item .producto__img {
    align-self: center;
    justify-self: start;
    grid-area: img;
    height: 100%;
    padding: 0 1rem 0 0;
    object-fit: cover; }
  .item .producto__title {
    grid-area: title;
    color: black;
    font-weight: bold;
    text-align: left;
    font-size: 1.5rem;
    padding: .5rem; }
  .item .producto__subtitle {
    grid-area: subtitle;
    color: black;
    text-align: left;
    font-size: 1.3rem;
    padding: .5rem; }
  .item .precio {
    grid-area: price; }
    .item .precio::before {
      content: "$"; }

#info {
  background: white;
  width: 80%;
  text-align: center;
  margin: 1.5rem;
  padding: 1rem; }
  #info p {
    font-size: 2rem; }

.btn-container {
  display: flex;
  flex-flow: row nowrap; }
  .btn-container .btn {
    background: #111;
    width: 3rem;
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    margin: 0.4rem;
    transition: transform 0.2s; }
    .btn-container .btn:hover {
      transform: scale(105%); }

.carrito-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  padding: 1rem; }
