@import url("https://fonts.googleapis.com/css2?family=Oxygen&display=swap");
.body {
  background: #111;
  font-family: 'Oxygen', sans-serif;
  display: flex;
  flex-flow: column wrap;
  margin: auto;
  justify-content: center;
  align-items: center;
  font-size: 10px; }
  .body .nav {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: baseline;
    max-width: 50%;
    width: 800px;
    background: #222;
    padding: 2rem; }
    .body .nav .nav__title {
      color: #fff;
      font-size: 2rem; }
    .body .nav .nav__links {
      display: inline-block;
      font-size: 1.2rem;
      color: #fff;
      list-style-position: inside;
      text-align: center; }
  .body a {
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-decoration: none; }
    .body a:hover {
      color: #f08c19; }
