        $color-bg: #111;
        $color-bg-hover: rgb(110, 110, 110);
        $color-block: rgb(44, 44, 44);
        $color-text: #fff;
        $color-text-hover: rgb(25, 240, 193);
        @import url('https://fonts.googleapis.com/css2?family=Baloo+2&display=swap');
        @import "reset";
        .body {
            background: $color-bg;
            display: flex;
            flex-flow: column wrap;
            margin: auto;
            justify-content: center;
            align-items: center;
            .nav {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                align-items: center;
                max-width: 50%;
                width: 800px;
                background: $color-block;
                padding: 2rem;
                margin: 1rem;
                border-radius: 5px;
                box-shadow: $color-text-hover 0px 0px 15px, $color-text 0px 0px 5px;
                .nav__title {
                    color: $color-text;
                    font-size: 3rem;
                    padding: 2rem;
                    text-shadow: $color-bg 2px 2px 2px;
                    text-align: center;
                }
                .nav__subtitle {
                    color: $color-text;
                    font-size: 1.5rem;
                    text-align: center;
                }
                .nav__links {
                    color: $color-text;
                    text-align: center;
                    list-style: none;
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: center;
                    padding: 1rem;
                    li {
                        margin: 2rem 0.5rem;
                    }
                }
                .nav__link {
                    color: $color-text;
                    background: $color-bg;
                    padding: 1rem;
                    font-size: 1.5rem;
                    text-align: center;
                    transition: background 0.2s, box-shadow 0.5s;
                    &:hover {
                        background: $color-text-hover;
                        color: $color-bg;
                        box-shadow: $color-text-hover 0px 0px 15px, $color-text 0px 0px 5px;
                    }
                }
            }
            .text {
                margin: 10rem 0;
                font-size: 1.5rem;
                text-align: center;
                color: $color-text;
                text-decoration: none;
                background: $color-block;
                padding: 2rem;
            }
        }